.table{
    padding: 10px;
    width: 800px;
    width: "100%";
    margin-left: 16.5%;
    border-spacing: 0px;
}


label{
    display: flex;
    height: 50px;
    position: static;
    align-items: center

}

.middle th{
    background-color: rgb(98, 98, 242);
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
}



input{
    align-self: center;
    max-width: 100px;
}

p{
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.select{
    margin-left: 31.5%;
}

::placeholder{
    text-align: center;
}

input[type="button"] {
    cursor: pointer;
    box-shadow: 5px 3px rgba(0,0,0,0.2);
    float: left;
    border-radius: 4px;
    min-width: 25px;
    margin-left: 20px;
    background-color: white;
}

input[type="button"]#button{
    width: 80px;
    margin-left: 46.5%;
}

input[type="button"].NotActive {
    background-color: white;
}
  
input[type="button"].Active {
    background-color: orange;
}

input[type="button"]:active {
    box-shadow: 2px 1px #666;
    transform: translateY(4px);
  }


#graph{
    border: 1px solid #000;
}

div[style]{
    color: red;
}


.ending{
    background-color: rgb(248, 160, 160);
}


.result{
    text-align: center;
}